* {
	margin: 0;
	padding: 0;
}

// body {
// 	text-align: center;
// 	height: 100vh;
// }

// .game-canvas {
// 	height: 100vh;
// }

.canvas-overlay {
	position: absolute;
	display: block;
}

.ui-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tank-stats-editor {
	& > div {
		input[type="range"] {
			margin-top: 2px;
			margin-left: 4px;
		}

		input[type="number"] {
			width: 38px;
		}
	}

	.square-color {
		width: 1em;
		height: 1em;
		display: inline-block;
		margin-bottom: -3px;
	}

	.field-error {
	}

	.color-picker-wrapper {
		position: relative;

		& > div {
			position: absolute;
			left: 30px;
			top: -200px;
		}
	}
}
